.preview {
  margin: 0px auto;
  width: 1246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 80px;
  position: relative;
  @media only screen and (min-width: 2000px) {
    transform: scale(1.5);
    height: 1100px;
  }
  @media only screen and (min-width: 4000px) {
    transform: scale(2);
    height: 2000px;
  }
  @media only screen and (max-width: 1246px) {
    width: 890px;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 890px) {
    width: auto;
  }
  @media only screen and (max-width: 768px) {
    display: block;
  }
  .info {
    width: 491px;
    display: grid;
    gap: 30px;
    margin: 60px 0;
    position: relative;
    padding-top: 10px;
    @media only screen and (max-width: 1246px) {
      width: 350px;
    }
    @media only screen and (max-width: 768px) {
      text-align: center;
      width: 300px;
      margin: 60px auto;
    }
    &::before {
      content: "";
      display: block;
      width: 195px;
      border-top: 1px solid #201f1f34;
      position: absolute;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .tag {
      display: none;
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      color: #201f1f83;
      position: relative;
      margin: auto;
      &::before {
        content: "";
        display: block;
        width: 33px;
        position: absolute;
        border-top: 1px solid #201f1f83;
        top: 6px;
        left: 50px;
      }
      @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }
    .title {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 76px;
      line-height: 84px;
      letter-spacing: -3px;
      text-transform: capitalize;
      @media only screen and (max-width: 1246px) {
        font-size: 54px;
        line-height: 62px;
        letter-spacing: -2px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 48px;
        line-height: 54px;
      }
    }
    .text {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 28px;
      color: #676767;
      width: inherit;
      @media only screen and (max-width: 1246px) {
        font-size: 13px;
        line-height: 18px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 11px;
        line-height: 17px;
      }
    }
    .flex {
      display: flex;
      gap: 20px;
      margin: 15px 0;
      @media only screen and (max-width: 768px) {
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .button {
        background: #000;
        border: 1.5px solid #000;
        border-radius: 12.41px;
        color: #fff;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16.27px;
        line-height: 100%;
        text-transform: uppercase;
        padding: 16px 19.5px;
        cursor: pointer;
        &:hover {
          background: #222222;
          transition: all 1s;
        }
        @media only screen and (max-width: 1300px) {
          font-size: 11.5px;
          padding: 14px 22px;
        }
        @media only screen and (max-width: 768px) {
          font-size: 11.7px;
          padding: 17px 21px;
        }
      }
      .light_button {
        color: #222222;
        background: #f9f9f9;
        border: 1.5px solid #222222;
        border-radius: 12.41px;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16.27px;
        line-height: 100%;
        text-transform: uppercase;
        padding: 16px 19.5px;
        cursor: pointer;
        &:hover {
          color: #222222;
          background: #d7d7d7;
          transition: all 1s;
        }
        @media only screen and (max-width: 1300px) {
          font-size: 11.5px;
          padding: 14px 16px;
        }
        @media only screen and (max-width: 768px) {
          font-size: 11.7px;
          padding: 17px 16px;
        }
      }
    }
    .flex_stat {
      display: flex;
      gap: 50px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      .stat_item {
        display: grid;
        .nums {
          font-family: PublicSans;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 36px;
          line-height: 42px;
          letter-spacing: 0px;
          color: #141416;
          @media only screen and (max-width: 1246px) {
            font-size: 26px;
            line-height: 30px;
          }
        }
        .label {
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0px;
          color: #848586;
          margin-top: 10px;
          @media only screen and (max-width: 1246px) {
            font-size: 9px;
            line-height: 13px;
          }
        }
      }
    }
  }
  .images {
    width: 780px;
    position: absolute;
    top: 40px;
    right: -12vw;
    display: flex;
    height: 540px;
    @media only screen and (min-width: 2000px) {
      top: 280px;
      right: -8vw;
    }
    @media only screen and (min-width: 4000px) {
      top: 714px;
      right: -8vw;
    }
    @media only screen and (max-width: 768px) {
      position: relative;
      margin-top: -150px;
    }
    .arrow {
      position: absolute;
      right: 30%;
      top: 50px;
    }
    .points {
      right: 0;
      top: -15px;
      position: absolute;
    }
    #shape2 {
      position: absolute;
      z-index: 1000;
    }
    .scape2 {
      left: 430px;
      top: 185px;
      position: absolute;
      z-index: 100;
    }
    .scape1 {
      position: absolute;
      z-index: 100;
    }
    .shadow1 {
      z-index: 0;
      position: absolute;
      top: 80px;
      left: 0;
    }
    .shadow2 {
      left: 430px;
      top: 250px;
      position: absolute;
    }
    @media only screen and (max-width: 1246px) {
      transform: scale(0.712);
      right: -21vw;
    }
    @media only screen and (max-width: 1024px) {
      transform: scale(0.5);
      right: -21vw;
    }
    @media only screen and (max-width: 768px) {
      transform: scale(0.5);
      right: 44vw;
    }
  }
}
