.footer {
  background: #141416;
  color: #fff;
  padding: 86px 0;
  position: relative;
  @media only screen and (min-width: 2000px) {
    transform: scale(1.5);
  }
  @media only screen and (min-width: 4000px) {
    transform: scale(2);
  }
  @media only screen and (max-width: 768px) {
    padding: 50px 30px;
    padding-bottom: 10px;
  }
  .flex_space {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 1246px;
    margin: auto;
    @media only screen and (max-width: 1300px) {
      width: 890px;
    }
    @media only screen and (max-width: 900px) {
      display: block;
    }
    &:first-child {
      border-bottom: 1px solid #81818142;
      @media only screen and (max-width: 768px) {
        padding-bottom: 40px;
        border-bottom: 1px solid #818181;
      }
    }
    &:last-child {
      margin-top: 50px;
      @media only screen and (max-width: 1024px) {
        margin-top: 20px;
      }
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 7px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
      .logo_text {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0px;
        @media only screen and (max-width: 1024px) {
          font-size: 21px;
        }
      }
      svg {
        width: 65px;
        height: 65px;
        @media only screen and (max-width: 1024px) {
          width: 46px;
          height: 46px;
        }
        path {
          fill: #fff;
        }
      }
    }
    .menu {
      display: flex;
      gap: 50px;
      font-family: Inter;
      font-weight: 500;
      font-size: 17.83px;
      line-height: 26.74px;
      letter-spacing: 0%;
      text-transform: capitalize;
      color: #b9b9b9;
      @media only screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 19px;
      }
      @media only screen and (max-width: 768px) {
        display: grid;
        gap: 20px;
        text-transform: uppercase;
      }
      a {
        &:hover {
          color: #fff;
        }
      }
    }
    .year {
      font-family: Inter;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      letter-spacing: 0px;
      color: #999999;
      @media only screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 18px;
      }
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
      span {
        &:last-child {
          display: none;
          @media only screen and (max-width: 768px) {
            display: inline-block;
          }
        }
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: center;
      @media only screen and (max-width: 768px) {
        position: absolute;
        position: absolute;
        top: 64px;
        right: 8px;
        gap: 8px;
      }
      svg {
        width: 24px;
        height: 24px;
        @media only screen and (max-width: 1024px) {
          width: 17px;
          height: 17px;
        }
        &:last-child {
          path {
            fill: #fff;
          }
          &:hover {
            path {
              fill: #535353;
              transition: all 1s;
            }
          }
        }
        &:hover {
          path {
            fill: #fff;
            transition: all 1s;
          }
        }
      }
    }
  }
}
