.main_slider {
  width: 100%;
  max-width: 100vw;
  height: 787px;
  width: 100vw;
  padding: 16px 0;
  position: relative;
  background: rgba(241, 241, 241, 1);
  padding: 66px 0;
  @media only screen and (min-width: 2000px) {
    transform: scale(1.5);
    height: 750px;
  }
  @media only screen and (min-width: 4000px) {
    transform: scale(2);
    height: 1000px;
  }
  @media only screen and (max-width: 1300px) {
    height: 578px;
    padding: 47px 0;
  }
  h2 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #c5c5c5;
    @media only screen and (max-width: 1300px) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .mySwiper {
    padding-top: 66px;
    @media only screen and (max-width: 1300px) {
      padding-top: 47px;
    }
    .slide {
      display: grid;
      align-content: space-between;
      background: white;
      border-radius: 24px;
      height: 395px;
      width: 281px;
      padding: 14px;
      box-shadow: 38px 12px 60px 0px #c7c7c799;
      -webkit-box-shadow: 38px 12px 60px 0px #c7c7c799;
      cursor: grab;
      @media only screen and (max-width: 1300px) {
        height: 294px;
        width: 210px;
        padding: 10px;
      }
      .slide_image {
        width: 253px;
        height: 253px;
        position: relative;
        @media only screen and (max-width: 1300px) {
          height: 190px;
          width: 190px;
        }
        img {
          border-radius: 23.48px;
          object-fit: cover;
        }
      }
      .timer {
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #ffffff;
        background: #1c1d2059;
        backdrop-filter: blur(4.705041408538818px);
        box-shadow: 0px 4.71px 14.12px 0px #1c1d2014;
        border-radius: 10px;
        position: absolute;
        padding: 10px 14px;
        margin: 14px;
        border-width: 1.18px;
        right: 0px;
        @media only screen and (max-width: 1300px) {
          font-size: 10.5px;
          padding: 7px 13px;
        }
      }
      .slide_text {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #141416;
        @media only screen and (max-width: 1300px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
      .flex_space {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .gray {
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #94a3b8;
          @media only screen and (max-width: 1300px) {
            font-size: 12px;
          }
        }
        .score {
          padding: 5px;
          display: flex;
          gap: 5px;
          align-items: center;
          svg {
            @media only screen and (max-width: 1300px) {
              height: 16px;
            }
          }
          span {
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 16.47px;
            line-height: 150%;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #141416;
            @media only screen and (max-width: 1300px) {
              font-size: 11px;
            }
          }
        }
        button {
          background: #000;
          border-radius: 12.41px;
          color: #fff;
          font-family: Poppins;
          font-weight: 500;
          font-style: Medium;
          font-size: 16.27px;
          line-height: 100%;
          text-transform: uppercase;
          padding: 16px 19.5px;
          cursor: pointer;
          &:hover {
            background: #222222;
            transition: all 1s;
          }
          @media only screen and (max-width: 1300px) {
            font-size: 10.5px;
            padding: 13px 18.5px;
          }
        }
      }
    }
  }
  .navi_btns {
    background-color: white;
    padding: 20px;
    border-radius: 17px;
    width: 166px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 66px auto;
    box-shadow: 0 43.12px 34.49px -13.87px #0f0f0f4b;
    -webkit-box-shadow: 0 43.12px 34.49px -13.87px #0f0f0f4b;
    @media only screen and (max-width: 1300px) {
      width: 124px;
      height: 48px;
    }
    .prev_btn {
      background: url("../../../../public/arrow.svg") no-repeat center;
      height: 24px;
      width: 24px;
      @media only screen and (max-width: 1300px) {
        width: 18px;
        height: 18px;
      }
    }
    .next_btn {
      transform: rotate(180deg);
      background: url("../../../../public/arrow.svg") no-repeat center;
      height: 24px;
      width: 24px;
      @media only screen and (max-width: 1300px) {
        width: 18px;
        height: 18px;
      }
    }
    .line {
      border: none;
      background-color: #e6e8ec;
      width: 2px;
      height: 24px;
      margin: 0 auto;
    }
  }
}
