$dark: #42567a;
$pink_blue: #5d5fef;
$pink: #ef5da8;
$blue: #3877ee;
$font-family_1: "BebasNeue", sans-serif;
$background-color_1: white;

.page {
  --background: #f9f9f9;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}
.header {
  width: 100vw;
  position: relative;
  z-index: 111111;
  background: #f9f9f9;
  padding: 17px;
  padding-top: 37px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 27px;
  @media only screen and (min-width: 2000px) {
    transform: scale(1.5);
  }
  @media only screen and (min-width: 4000px) {
    transform: scale(2);
  }
  @media only screen and (max-width: 768px) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #f9f9f9 !important;
    padding: 30px;
    padding-bottom: 0.5px;
  }
  .header_items {
    margin: 0px auto;
    width: 1246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (min-width: 2000px) {
      margin-top: 20px;
    }
    @media only screen and (max-width: 1300px) {
      width: 890px;
    }
    @media only screen and (max-width: 890px) {
      width: auto;
    }
    @media only screen and (max-width: 768px) {
      border-bottom: 0.5px solid #cbcbcb;
      align-items: baseline;
      padding-bottom: 20px;
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 43px;
      @media only screen and (max-width: 768px) {
        gap: 5px;
        justify-content: space-between;
      }
      .logo_text {
        display: none;
        @media only screen and (max-width: 768px) {
          display: block;
          font-family: Poppins;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 22px;
          line-height: 24px;
        }
      }
    }
    .mobile_icon {
      display: none;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
    .header_btn {
      background: #000;
      border-radius: 12.41px;
      color: #fff;
      font-family: Poppins;
      font-weight: 500;
      font-style: Medium;
      font-size: 16.27px;
      line-height: 100%;
      text-transform: uppercase;
      padding: 16px 19.5px;
      cursor: pointer;
      &:hover {
        background: #222222;
        transition: all 1s;
      }
      @media only screen and (max-width: 1300px) {
        font-size: 10.5px;
        padding: 13px 18.5px;
      }
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .menu_items {
      display: flex;
      align-items: center;
      gap: 5px;
      a {
        font-family: Inter;
        font-weight: 500;
        font-size: 18px;
        line-height: 26.74px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #606060;
        padding: 8px 20px;
        border: none;
        border-radius: 10px;
        &:hover {
          background: #c3c3c3;
          color: #222222;
          text-transform: uppercase;
          transition: 0.5s;
        }
        @media only screen and (max-width: 768px) {
          font-size: 40px;
          line-height: 42px;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 5px;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      .mobile_menu {
        display: none;
        .menu_open {
          display: none;
          padding: 20px;
          background-color: #f9f9f9;
          margin-top: 44px;
          align-items: start;
          position: absolute;
          z-index: 1111;
          width: 100vw;
          left: 0;
          .flex {
            padding: 20px;
            width: 220px;
            svg {
              &:hover {
                path {
                  fill: #222222;
                }
              }
            }
          }
          .grid {
            display: grid;
            gap: 40px;
            .grid {
              gap: 0px;
            }
          }
          .bottom_btn {
            justify-content: center;
            align-items: center;
            display: flex;
            position: absolute;
            bottom: 40px;
            width: 100%;
          }
        }
        @media only screen and (max-width: 768px) {
          display: block;
        }
        .header_btn {
          @media only screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
